# Package Manager
bower_components/
node_modules/
npm-debug.log*
vendor/
package-lock.json
yarn-error.log
yarn.lock

# Development
.turbo/
!.turbo/config.json

# Build artifacts
bin/
dist/

# Project specific
*.exe
*.nsi
