---
import DemoLayout from '../../layouts/DemoLayout.astro';
---

<DemoLayout
	title="Demo | @nsis/lumis"
	description="NSIS language support for Lumis"
	packageName="@nsis/lumis"
	footerUrl="https://github.com/idleberg/nsis-org/tree/main/packages/lumis"
>
	<Fragment slot="description">
		A language definition for <a class="text-indigo-600" href="https://nsis.sourceforge.io">NSIS</a> to use with <a class="text-indigo-600" href="https://lumis.sh">Lumis</a>, a Tree-sitter-based syntax highlighter.
	</Fragment>

	<div slot="example" id="output" class="mt-3 rounded overflow-hidden" />
</DemoLayout>

<style>
	#output :global(pre) {
		padding: 0.75rem;
		margin: 0;
	}
</style>

<script>
	import example from '../../data/example.nsi?raw';
	import { highlight } from '@lumis-sh/lumis';
	import { htmlInline } from '@lumis-sh/lumis/formatters';
	import { nsis } from '@nsis/lumis';
	import tokyonightMoon from '@lumis-sh/themes/tokyonight_moon';

	document.getElementById('output')!.innerHTML = await highlight(
		example,
		htmlInline({ language: nsis, theme: tokyonightMoon }),
	);
</script>
