---
import DemoLayout from '../../layouts/DemoLayout.astro';
---

<DemoLayout
	title="Demo | @nsis/textmate"
	description="NSIS TextMate grammar for Shiki"
	packageName="@nsis/textmate"
	footerUrl="https://github.com/idleberg/nsis-javascript-tools/tree/main/packages/textmate"
>
	<Fragment slot="description">
		A <a class="text-indigo-600" href="https://macromates.com/manual/en/language_grammars">TextMate grammar</a> for <a class="text-indigo-600" href="https://nsis.sourceforge.io">NSIS</a> to use with <a class="text-indigo-600" href="https://shiki.style">Shiki</a>, a syntax highlighter powered by TextMate grammars.
	</Fragment>

	<div slot="example" id="output" class="mt-3 rounded overflow-hidden" />
</DemoLayout>

<style>
	#output :global(pre) {
		padding: 0.75rem;
		margin: 0;
	}
</style>

<script>
	import example from '../../data/example.nsi?raw';
	import type { LanguageRegistration } from 'shiki';
	import { createHighlighter } from 'shiki';
	import grammar from '@nsis/textmate';

	const highlighter = await createHighlighter({
		themes: ['one-dark-pro'],
		langs: [{
			...grammar,
			name: 'nsis',
		} as LanguageRegistration],
	});

	document.getElementById('output')!.innerHTML = highlighter.codeToHtml(
		example,
		{ lang: 'nsis', theme: 'one-dark-pro' },
	);
</script>
