---
import example from '../../data/example.nsi?raw';
import DemoLayout from '../../layouts/DemoLayout.astro';
---

<DemoLayout
	title="Demo | @nsis/lumis"
	description="NSIS language support for Lumis"
	packageName="@nsis/lumis"
	footerUrl="https://github.com/idleberg/nsis-javascript-tools/tree/main/packages/lumis"
>
	<Fragment slot="description">
		A language definition for <a class="text-indigo-600" href="https://nsis.sourceforge.io">NSIS</a> to use with <a class="text-indigo-600" href="https://lumis.sh">Lumis</a>, a Tree-sitter-based syntax highlighter.
	</Fragment>

	<div slot="example" id="output" class="mt-3 rounded overflow-hidden" />
</DemoLayout>

<style>
	#output :global(pre) {
		padding: 0.75rem;
		margin: 0;
	}
</style>

<script is:inline define:vars={{ example }}>
	window.__NSIS_EXAMPLE__ = example;
</script>

<script>
	import { highlight } from '@lumis-sh/lumis';
	import { htmlInline } from '@lumis-sh/lumis/formatters';
	import { createLanguage } from '@nsis/lumis';
	import treeSitterNsisWasm from 'tree-sitter-nsis/wasm?url';
	import tokyonightMoon from '@lumis-sh/themes/tokyonight_moon';

	const nsis = createLanguage({ wasm: new URL(treeSitterNsisWasm, import.meta.url) });

	document.getElementById('output')!.innerHTML = await highlight(
		(window as any).__NSIS_EXAMPLE__,
		htmlInline({ language: nsis, theme: tokyonightMoon }),
	);
</script>
